<footer id="footer" class="text-sm text-white">
  <section
    class="mx-auto flex max-w-4xl flex-col p-4 sm:flex-row sm:justify-between"
  >
    <nav class="flex flex-col sm:gap-2" aria-label="footer">
      <a
        href="https://github.com/anthonycorletti/snok"
        target="_blank"
        class="hover:opacity-90"
        >GitHub 🐍</a
      >
      <a
        href="https://snok.corletti.xyz"
        target="_blank"
        class="hover:opacity-90"
        >Docs 🐍</a
      >
    </nav>
  </section>
</footer>
